@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.hero_bkgrd_header_image_2 {
	background-image: url("../img/contact_image.jpg");
}

.custom_glyphicon_size {
	font-size: 12px;
	padding-right: 3px;
}

.custom_glyphicon_size_large {
	font-size: 30px;
}
