// Importing Bootstrap
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.hero_bkgrd_header_image_3 {
	background-image: url("../img/bubbles_2.jpg");
}

.image_container {
	height: auto;
	width: 100%;
}

.gallery_thumbnail {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #ececec;
	border-radius: 4px;
	display: table;
	height: 220px;
	margin-bottom: 15px;
	width: 100%;
	@media(min-width: $screen-sm) {
		margin-bottom: 30px;
	}
	.image_container {
	}

	.gallery_image_title {
		text-decoration: none;
		opacity: 1;
	}
}

.gallery_thumbnail_image1 {
	background-image: url("../img/black_gallery_thumbnail.jpg");
}

.gallery_thumbnail_image2 {
	background-image: url("../img/variable20_gallery_thumbnail.png");
}

.gallery_thumbnail_image3 {
	background-image: url("../img/rgb_gallery_thumbnail.png");
}

.gallery_thumbnail_image4 {
	background-image: url("../img/variable14_gallery_thumbail.png");
}

.gallery_thumbnail_image5 {
	background-image: url("../img/variable9_gallery_thumbail.png");
}

.gallery_thumbnail_image6 {
	background-image: url("../img/variable6_gallery_thumbail.png");
}

.gallery_thumbnail_image7 {
	background-image: url("../img/variable5_gallery_thumbail.png");
}

.gallery_thumbnail_image8 {
	background-image: url("../img/variable2_gallery_thumbail.png");
}

.gallery_thumbnail_image9 {
	background-image: url("../img/ambitious_little_humans_gallery_thumbail.png");
}

.gallery_thumbnail_image10 {
	background-image: url("../img/dreamer_gallery_thumbail.png");
}

.gallery_thumbnail_image11 {
	background-image: url("../img/glove_gallery_thumbail.png");
}

.gallery_thumbnail_image12 {
	background-image: url("../img/growing_rocks_gallery_thumbail.png");
}

.gallery_thumbnail_image13 {
	background-image: url("../img/the_organic_man_gallery_thumbail.png");
}

.gallery_thumbnail_image14 {
	background-image: url("../img/inflatable_heart_gallery_thumbail.png");
}

.gallery_thumbnail_image15 {
	background-image: url("../img/variable8_gallery_thumbail.png");
}

.gallery_thumbnail_image16 {
	background-image: url("../img/variable_16_gallery_thumbail.png");
}

.gallery_image_title {
	-moz-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	display: table-cell;
	height: 100%;
	text-align: center;
	transition: background-color .5s ease-in-out;
	vertical-align: middle;
	width: 100%;

	span {
		-moz-transition: opacity .5s ease-in-out;
		-webkit-transition: opacity .5s ease-in-out;
		-o-transition: opacity .5s ease-in-out;
		color: #fff;
		font-size: 23px;
		opacity: 0;
	}

	&:hover {
		background-color: rgba(0,0,0,0.5);
		text-decoration: none;

		span {
			opacity: 1;
		}
	}
}

.no_text_decoration:hover {
	text-decoration: none;
}

.gallery_link {
	margin-top: 10px;
}

.gallery_arrows {
	display: block;
	text-align: center;
	width: 100%;
}

.gallery_page_image {
	position: relative;
}

.image_container {
	display: table;
	min-height: 400px;
	max-height: 700px;
	width: 100%;

	img {
		display: table-cell;
    margin-left: auto;
    margin-right: auto;
		height: auto;
    position: relative;
		width: 80%;
	}
}

.not_active {
	color: #ececec;
}
